* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* box-sizing: border-box; */
}
.contanier {
  margin: auto;
  width: 100%;
  height: 100%;
}
.page {
  background-image: url("../images/first.jpg");
  width: 100vw;
  height: 109.5vh;
  padding: 0 0 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tds-icon-logo-wordmark {
  inline-size: calc(var(--tds-icon--size) * 4);
}
.tds-icon {
  --tds-icon--cancel-margin: calc(var(--tds-icon--size) / -5);
  --tds-icon--fill: var(--tds-color--secondary, #fff);
  --tds-icon--stroke: var(--tds-color--secondary, #fff);
  background: var(--tds-icon--bg);
  block-size: var(--tds-icon--size);
  content: "";
  display: block;
  inline-size: var(--tds-icon--size);
  width: 224px;
  height: 39px;
  padding-left: 32px;
  padding-right: 32px;
  min-block-size: var(--tds-icon--size);
  min-inline-size: var(--tds-icon--size);
  overflow: hidden;
  text-indent: -9999 px;
}
nav {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0px;
}

.navbar {
  position: sticky;
  top: 0;
}

#nav__log {
  display: inline-block;
  margin-right: 10px;
  margin-left: 17px;
  padding: 10px 5px 10px 11px;
  width: 320px;
}
#nav__log a {
  display: inline-block;
  margin: 0px;
  margin-top: 7px;
  margin-left: 4px;
}
#middlebox {
  float: right;
  padding-top: 19.5px;
  padding-bottom: 19.5px;
  margin-right: 480px;
  font-family: "Gotham SSm";
  margin-top: 7px;
  font-weight: bold;
}
#middlebox a {
  color: #fff;
  text-decoration: none;
  padding: 19.5px;
  padding-top: 7px;
  padding-bottom: 6px;
  margin-top: 7px;
  font-family: GothamSSm;
  font-size: 18px;
  border: none;
  border-radius: 15px;
}
#rightbox {
  display: inline-block;
  margin-left: 990px;
  position: absolute;
  padding: 30px;
  padding-bottom: 19.5px;
  padding-top: 19.5px;
  margin-top: 7px;
}
#rightbox a {
  color: #fff;
  text-decoration: none;
  padding: 19px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: GothamSSm;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
#rightbox a:hover {
  background-color: gray;
}

#middlebox a:hover {
  background-color: gray;
}

.m3center {
  color: #fff;
  font-family: GothamSSm;
  font-size: 50px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
  padding: 30px;
}
.centerlist {
  float: right;
  margin-right: 360px;
  margin-top: 330px;
  text-align: center;
  padding: 16px;
  padding-left: 40px;
  padding-right: 40px;
}
.centerlist a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-family: GothamSSm;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.footerbar {
  margin-top: 5px;
}

.bigfont {
  font-size: 35px;
  font-family: GothamSSm;
  color: #fff;
  font-weight: bold;
}
.smallfont {
  font-size: 15px;
  font-family: GothamSSm;
  color: #fff;
}

.inlineBlc {
  /* display: inline-block; */
  float: right;
  padding: 43px;
}
.inlineBlc a {
  display: inline-block;
  /* float: right; */
  border: 4px solid #fff;
  border-radius: 70px;
  font-family: GothamSSm;
  text-align: center;
  margin-top: 6px;
  padding: 15px;
  font-size: 15px;
  padding-left: 48px;
  padding-right: 48px;
}
.inlineBlc a:hover {
  color: black;
  background-color: #fff;
}
.inlineBlc il {
  /* display: inline-block; */
  padding-left: 50px;
  padding: 20px;
}
#secound-page {
  width: 100vw;
  height: 109.5vh;
}
#secound-page .secound-img-info {
  float: right;
  width: 67%;
  background-image: url("../images/secound_img_crop.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
}
#secound-page .secound-info-content {
  float: left;
  width: 33%;
  padding: 50px 50px 30px 50px;
  font-family: GothamSSm;
  height: 100%;
}
.secound-info-content {
  margin: 0;
}
#secound-page .secound-info-content h3 {
  font-size: 25px;
  font-weight: 70;
}
.clr {
  clear: both;
}
@font-face {
  font-family: GothamSSm;
  src: url(/fonts/GothamSSm-Book_Web.woff2);
}
